---
page_title: "PAS Provider"
subcategory: ""
description: |-
  The PAS provider is used to interact with CyberArk Privileged Access Security.
---

# BlueCat Provider

The PAS provider is used to interact with CyberArk Privileged Access Security.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
